html { font-size: 0.875em; -o-text-size-adjust: 0.875em; -webkit-text-size-adjust: 0.875em; -moz-text-size-adjust: 0.875em; -ms-text-size-adjust: 0.875em; }

sup, sub { height: 0; line-height: 1; vertical-align: baseline; _vertical-align: bottom; position: relative; }
sup { bottom: 1ex; }
sub { top: .5ex; }

::-moz-selection { background: #990777; color: #FFF; text-shadow: none; }
::selection { background: #990777; color: #FFF; text-shadow: none; }

.group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .group {display: inline-block;}
/* Hides from IE-mac \*/ * html .group {height: 1%;} .group {display: block;} /* End hide from IE-mac */

html, body{ height:100% ; width: 100%;}

body{
	background: url("img/bg.png") repeat;
	font-family: "Gudea", "Helvetica Neue", Trebuchet, sans-serif;
	margin:0;
	line-height:18px;
}

#container{
	position:relative;
	overflow:hidden;
	min-height: 100%;
}

.background{
	background: url("img/bg_white.png") #FFF top right repeat-y;
	width: 60%;
	height:100%;
	position:absolute;
}

#nav{
	border-bottom: solid 1px #333; 
	color: #f7f4f4;
	display:table;
	font-size: 1.143em;
	float:right;
	line-height: 1.071em;
	margin:0;
	padding:0;
	height:4em;
	width: 40%;

	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
}

#nav a{
	color:inherit;
	display:table-cell;
	height:2em;
	margin:0;
	opacity:0.7;
	padding:0.572em 2% 0.572em 3%;
	text-decoration: none;
	vertical-align: text-top;
	width:26.33%;
	vertical-align: middle;
}

#nav .evenement{ border-top: solid 4px #990777; }
#nav .regles{ border-top: solid 4px #2192b9; }
#nav .infos{ border-top: solid 4px #adc620; }

#nav .regles span{ color: #2192b9; }
#nav .infos span{ color: #adc620; }

#nav a:hover, #nav a.active{
	border-top-width: 8px;
	opacity: 1;
}

#nav:hover a.active{ border-top-width:4px; opacity:0.7; }
#nav:hover a.active:hover{ border-top-width:8px; opacity:1; }

#heading{
	margin-bottom:3em;
	padding-top: 2em;
	vertical-align: middle;
}

#heading h1{
	line-height:0.6em;
	padding-top:0.65em;
	vertical-align: top;
}

#heading h1 span{
	color:#88A402;
	display:block;
	font-size: 0.425em;
}

#heading h1 a{
	text-decoration: none;
	color: #000;
	display: inline-block;
}

#logo{
	padding: 0 0 0 6%;
	margin-top: 1em;
	height:107px;
	position:relative;
	width:88px;
}

.section{
	display:table;
	margin-bottom:1.2em;
	overflow:hidden;
	position:relative;
	width:100%;
}

.section p{
	padding:0;
}

.section h2{
	color: #990777;
	font-size:1.571em;
}

.section h1{
	font-size: 3.571em;
}

.section h1, .section h2{
	display: table-cell;
	border-spacing: 0;
	padding: 0.92em 2% 0 0;
	margin:0;
	text-align:right;
	width: 60%;

	text-shadow: #FFF 0 1px 0;
}

.section h2 a{
	border-bottom: solid #c65800 1px;
	border-bottom-color: rgba(198,88,0,0);
	color: #c65800;
	display:inline-block;
	text-decoration:none;
	opacity:0.9;
}

.section h2 a:hover{
	border-bottom-color: rgba(198,88,0,1);
	opacity: 1;
}

.regles .section h2{
	color:#0a7ba2;
	padding-top: 31px;
	vertical-align: top;
}

h2:before{
	color: #990777;
	content:"";
	background-color:#FFF;
	border:#990777 solid 4px;
	border-radius: 6px;
	position:absolute;
	left:60%;
	margin:5px 0 0 -6px;
	height:4px;
	width:4px;
}

h2.push:before{
	display:none;
}

.regles h2:before{
	border-color:#2192b9;
}

h3{
	border-bottom:#333332 solid 1px;
	color:#6bA5B3;
	font-size:0.786em;
	font-weight:normal;
	text-align:left;
	text-transform: uppercase;
	margin-top:3em;
}

h3 a{
	color:#4b7583;
	text-decoration: none;
}

h3 a:hover{
	text-decoration: underline;
}

.section h2 span{
	color:#093341;
	display: block;
	font-size:0.762em;
	font-weight: normal;
}

.section .details{
	color:#f7f4f4;
	display:table-cell;
	border-spacing: 0;
	padding: 1em 5% 0 2%;
	width:45%;

	text-shadow:0 1px 1px #000;
}

.contact{
	margin-bottom: 1em;
	margin-top:1.571em;
	text-align: center;
}

a.subscribe-link, a.twitter-link, a.contact-link{
	border-bottom: solid #b8d41b 2px;
	border-bottom-color: rgba(184,212,27,0.4);
	color:#FFF;
	clear:left;
	display:inline-block;
	font-size: 1.714em;
	padding-bottom: 3px;
	margin-top:0.45em;
	text-decoration:none;
	opacity:0.9;
}

a.twitter-link{
	border-bottom: solid #186da1 2px;
	border-bottom-color: rgba(24,109,161,0.4);
	font-size: 1.25em;
}

a.contact-link{
	border-bottom-color: #BE2099;
	border-bottom-color: rgba(190,32,153,0.4);
	font-size:1.1em;
	padding-bottom:0;
	text-align:center;
}

a.twitter-link span{
	color:#07a2ff;
}

a.subscribe-link:hover{
	border-bottom-color: rgba(184,212,27,1);
	opacity: 1;
}

a.contact-link:hover{
	border-bottom-color: rgba(190,32,153,1);
	opacity: 1;
}

a.twitter-link:hover{
	border-bottom-color: rgba(24,109,161,1);
	opacity: 1;
}

small{
	color:#666667;
	font-size:0.762em;
}

.hack-day small{
	display:block;
}


/* - Page Règles - */

.reglements{
	counter-reset:rules;
}

.reglements strong{
	color:#59d4ff;
}

.reglements li{
	border-bottom: solid 1px #1d4b5a;
	list-style:none;
	margin: 0 0 0.786em 0.4em;
	padding:6px 0 18px 0;
	position:relative;
}

.reglements li:before{
	content:counter(rules);
	counter-increment:rules;
	
	color:#6b1c59;
	position:absolute;
	font-size:4em;
	font-weight:bold;
	line-height: 1em;
	left:-0.7em;
	top:0;
}

.reglements li:last-child{
	border-bottom:none;
}

p.reglements-note {
	color: rgba(255,255,255,0.5);
	font-size: 90%;
	padding: 0 0 0 45px;
}

/* - Page Infos - */

.infos h2{
	color: #3B3836;
}

.infos h2:before{
	border-color:#adc620;
}

.infos .details{
	padding-right: 2%;
}

.contact-links{
	text-align: center;
}

.contact-links a{
	background-color:#2192b9;
	color:#FFF;
	display:inline-block;
	font-weight:bold;
	height:3em;
	line-height:3em;
	letter-spacing: 0.08em;
	margin-top:3em;
	opacity:0.9;
	text-align:center;
	text-decoration: none;
	text-shadow:none;
	width:30%;
}

.contact-links a.eventbrite{ background-color: #6d0354; }
.contact-links a.twitter{ background-color: #095f7d; }
.contact-links a.mail{ background-color: #525e0b; }

.contact-links a.eventbrite:hover{ background-color: #990777; opacity:1; }
.contact-links a.twitter:hover{ background-color: #2192b9; opacity:1; }
.contact-links a.mail:hover{ background-color: #adc620; opacity:1; }

.sponsors{
	padding-left:0;
	margin-bottom:0.7em;
	margin-top:1em;
}

.sponsors .sponsor-logos{
	text-align: center;
	margin: 0.3em 0 0;
	padding:0;
}

.single-sponsor,
.sponsors .sponsor-logos .sponsor{
	background-repeat: no-repeat;
	background-position: center top;
	display:inline-block;
	opacity:0.7;
	height:60px;
	width:160px;
	vertical-align: text-top;
}

.sponsor:hover span{
	opacity:1;
}

.sponsors .sponsor-logos .sponsor:hover{
	opacity:0.99;
}

/* - Sponsor logos - */

.sponsors .arcbees{
	background-image:url("img/sponsors/arcbees2.png");
}

.sponsors .bellfibe{
	background-image:url("img/sponsors/bellfibe-2.png");
}

.sponsors .capitaleouverte{
	background-image:url("img/sponsors/capitaleouverte.png");
}

.sponsors .contextio{
	background-image:url("img/sponsors/contextio.png");
}

.sponsors .crowdbase{
	background-image:url("img/sponsors/crowdbase.png");
}

.sponsors .yellow-api{
	background-image:url("img/sponsors/yellowAPI.png");
}

.sponsors .mirego{
	background-image:url("img/sponsors/mirego.png");
}

.sponsors .tumbz{
	background-image:url("img/sponsors/tumbz.png");
}

.sponsors .rdio{
	background-image:url("img/sponsors/rdio.png");
}

.sponsors .wajam{
	background-image:url("img/sponsors/wajam.png");
}

.sponsors .abrico{
	background-image:url("img/sponsors/abrico.png");
}

.sponsors .zapquebec{
	background-image:url("img/sponsors/zapqc.png");
}

.sponsors .sogix{
	background-image:url("img/sponsors/sogix.png");
}

.sponsors .waq{
	background-image:url("img/sponsors/waq.png");
}

.sponsors .heliom{
	background-image:url("img/sponsors/heliom.png");
}

.sponsors .duproprio{
	background-image:url("img/sponsors/duproprio.png");
}

.sponsors .vetiq{
	background-image:url("img/sponsors/vetiq.png");
}

.sponsors .villeqc{
	background-image:url("img/sponsors/villedequebec.png");
}

.sponsors .egouvquebec{
	background-image:url("img/sponsors/egouvquebec.png");
}

.sponsors .gouv-qc{
	background-image:url("img/sponsors/gouv-qc.png");
}

.sponsors .gouv-ca{
	background-image:url("img/sponsors/gouv-ca.png");
}

.sponsors .blackberry{
	background-image:url("img/sponsors/blackberry.png");
}

.teaser {
	font-size: 160%;
	font-weight: bold;
	padding: 0;
	margin: -30px 0 0;
	text-align: center;
}

.teaser p:first-child {
	line-height: 1.5;
	font-weight: normal;
	margin: 0 0 40px;
	color: rgba(255,255,255,0.6);
}

.teaser p:first-child strong {
	font-weight: bold;
	color: rgba(255,255,255,0.9);
}

.teaser a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	background: rgba(43, 123, 163, 1);
	padding: 10px 12px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.teaser a:hover {
	background: rgba(43, 123, 163, 0.8);
	color: rgba(255,255,255,0.90);
}

.prizes {
}

.prize {
	padding: 10px 0 8px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

.prize .prize-logo {
	width: 42%;
	float: left;
	overflow: hidden;
}

.prize .prize-logo .sponsor {
	opacity: 1;
}

.prize .prize-details {
	width: 56%;
	float: right;
	color: rgba(255,255,255,0.5);
	font-size: 120%;
}

.prize .prize-details strong {
	color: rgba(255,255,255,0.85);
	font-weight: normal;
}

.prize .prize-details p:first-child {
	margin: 0 0 2px;
	padding-top: 10px;
}

.prize .prize-details p:nth-child(2) {
	color: rgba(255,255,255,0.5);
	font-size: 70%;
	line-height: 1.3;
	margin: 0;
}

/* - Every day I'm responsin' - */

@media only screen and (max-width: 900px){
	.background, .section h1, .section h2, #nav{
		width:50%;
	}
	.section h2:before{
		left:50%;
	}
	.section .details{
		padding: 1em 4% 0 2%;
		width:auto;
	}
}

@media only screen and (max-width: 760px){
	#heading{
		vertical-align: middle;
	}

	.background, .section h1, .section h2{
		font-size:1.271em;
		width:40%;
	}

	#nav {
		width:60%;
	}

	#heading h1{
		padding-top:1.8em;
		font-size:2.286em;
	}

	.section h2:before{
		left:40%;
	}
}

@media only screen and (max-width: 560px){
	.background{z-index:-1; width:0.78em; }

	#nav{
		background:#222;
		position:relative;
		float:none;
		width:100%;

	}

	.section{
		display:block;
		padding-left:2.4em;
		width:auto;
	}

	.section .details{
		padding-left:0;
		padding-top:0;
		display:block;
	}

	.section h1, .section h2{
		display:block;
		line-height:1.2em;
		text-align:left;
		text-shadow: none;
		width: auto;
	}

	.section h2{
		color:#c70a9b;
		margin-bottom:0;
		position:relative;
	}

	.section h2 span{
		color:#566e76;
	}

	#heading{
		padding:0;
		margin-bottom:1em;
	}

	#heading h1{
		color: #FFF;
		font-size:3.175em;
		padding-top:1em;
		text-align: center;
		line-height:0.8em;
	}

	#heading h1 span{
		color:#A8C40B;
		opacity:0.7;
	}

	#heading h1 a{
		color:#fff;
	}

	#logo{
		margin:0 auto;
		padding: 0;
	}

	.infos h2{
		color:#adc620;
	}

	.section h2:before{
		border-radius: 6px;
		position:absolute;
		left:-0.9em;
		top:-1.2em;
		margin:2.4em 0 0 -10px;
		height:4px;
		width:4px;
	}

	.prize .prize-logo {
		width: 50%;
	}

	.prize .prize-details {
		width: 48%;
	}

}

/* - Animated logo image - */

.logo-part, #logo-dots{
	position:absolute;
	top:0;
	width:94px;
	height:107px;
}

#logo-dots{
	background:url("img/logo/logo_ellipses.png") no-repeat;
}

#logo .hidden, #logo img.hidden{
	opacity:0.3;
}

#logo-part-1{ background-image:url("img/logo/logo_br1.png"); }
#logo-part-2{ background-image:url("img/logo/logo_br2.png"); }
#logo-part-3{ background-image:url("img/logo/logo_br3.png"); }
#logo-part-4{ background-image:url("img/logo/logo_br4.png"); }
#logo-part-5{ background-image:url("img/logo/logo_br5.png"); }
#logo-part-6{ background-image:url("img/logo/logo_br6.png"); }
#logo-part-7{ background-image:url("img/logo/logo_br7.png"); }
#logo-part-8{ background-image:url("img/logo/logo_br8.png"); }
#logo-part-9{ background-image:url("img/logo/logo_br9.png"); }
#logo-part-10{ background-image:url("img/logo/logo_br10.png"); }
#logo-part-11{ background-image:url("img/logo/logo_br11.png"); }
#logo-part-12{ background-image:url("img/logo/logo_br12.png"); }
#logo-part-13{ background-image:url("img/logo/logo_br13.png"); }
#logo-part-14{ background-image:url("img/logo/logo_br14.png"); }
#logo-part-15{ background-image:url("img/logo/logo_br15.png"); }

/* - If HiDPI - */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (-moz-min-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (min-device-pixel-ratio: 2) {

	#logo .logo-part, #logo #logo-dots{
		background-size: 94px;
	}

	body{
		background: url("img/bg@2x.png") repeat;
		background-size: 33px 36px;
	}

	.sponsors .arcbees{
		background-image:url("img/sponsors/arcbees2@2x.png");
		background-size:151px 50px;
	}

	.sponsors .bellfibe{
		background-image:url("img/sponsors/bellfibe-2@2x.png");
		background-size:137px 50px;
	}

	.sponsors .capitaleouverte{
		background-image:url("img/sponsors/capitaleouverte@2x.png");
		background-size:99px 50px;
	}

	.sponsors .contextio{
		background-image:url("img/sponsors/contextio@2x.png");
		background-size:152px 50px;
	}

	.sponsors .crowdbase{
		background-image:url("img/sponsors/crowdbase@2x.png");
		background-size:101px 50px;
	}

	.sponsors .yellow-api{
		background-image:url("img/sponsors/yellowAPI@2x.png");
		background-size: 162px 50px;
	}

	.sponsors .mirego{
		background-image:url("img/sponsors/mirego@2x.png");
		background-size:136px 50px;
	}

	.sponsors .tumbz{
		background-image:url("img/sponsors/tumbz@2x.png");
		background-size: 151px 50px;
	}

	.sponsors .rdio{
		background-image:url("img/sponsors/rdio@2x.png");
		background-size: 106px 50px;
	}

	.sponsors .wajam{
		background-image:url("img/sponsors/wajam@2x.png");
		background-size: 141px 50px;
	}

	.sponsors .abrico{
		background-image:url("img/sponsors/abrico@2x.png");
		background-size: 135px 50px;
	}

	.sponsors .zapquebec{
		background-image:url("img/sponsors/zapqc@2x.png");
		background-size: 40px 50px;
	}

	.sponsors .sogix{
		background-image:url("img/sponsors/sogix@2x.png");
		background-size: 141px 50px;
	}

	.sponsors .waq{
		background-image:url("img/sponsors/waq@2x.png");
		background-size: 88px 50px;
	}

	.sponsors .heliom{
		background-image:url("img/sponsors/heliom@2x.png");
		background-size: 147px 50px;
	}

	.sponsors .duproprio{
		background-image:url("img/sponsors/duproprio@2x.png");
		background-size: 113px 50px;
	}

	.sponsors .vetiq{
		background-image:url("img/sponsors/vetiq@2x.png");
		background-size: 123px 50px;
	}

	.sponsors .villeqc{
		background-image:url("img/sponsors/villedequebec@2x.png");
		background-size: 83px 50px;
	}

	.sponsors .egouvquebec{
		background-image:url("img/sponsors/egouvquebec@2x.png");
		background-size: 75px 50px;
	}

	.sponsors .gouv-qc{
		background-image:url("img/sponsors/gouv-qc@2x.png");
		background-size: 97px 50px;
	}

	.sponsors .gouv-cq{
		background-image:url("img/sponsors/gouv-ca@2x.png");
		background-size: 98px 50px;
	}

	.sponsors .blackberry{
		background-image:url("img/sponsors/blackberry@2x.png");
		background-size: 141px 50px;
	}

	#logo-dots{
		background:url("img/logo/logo_ellipses@2x.png") no-repeat;
	}

	#logo-part-1{ background-image:url("img/logo/logo_br1@2x.png"); }
	#logo-part-2{ background-image:url("img/logo/logo_br2@2x.png"); }
	#logo-part-3{ background-image:url("img/logo/logo_br3@2x.png"); }
	#logo-part-4{ background-image:url("img/logo/logo_br4@2x.png"); }
	#logo-part-5{ background-image:url("img/logo/logo_br5@2x.png"); }
	#logo-part-6{ background-image:url("img/logo/logo_br6@2x.png"); }
	#logo-part-7{ background-image:url("img/logo/logo_br7@2x.png"); }
	#logo-part-8{ background-image:url("img/logo/logo_br8@2x.png"); }
	#logo-part-9{ background-image:url("img/logo/logo_br9@2x.png"); }
	#logo-part-10{ background-image:url("img/logo/logo_br10@2x.png"); }
	#logo-part-11{ background-image:url("img/logo/logo_br11@2x.png"); }
	#logo-part-12{ background-image:url("img/logo/logo_br12@2x.png"); }
	#logo-part-13{ background-image:url("img/logo/logo_br13@2x.png"); }
	#logo-part-14{ background-image:url("img/logo/logo_br14@2x.png"); }
	#logo-part-15{ background-image:url("img/logo/logo_br15@2x.png"); }
}

/* - Transitions & suffix-dependent stuff - */

a.subscribe-link, a.twitter-link, a.contact-link, .section h2 a{
		-webkit-transition: border-bottom-color 0.3s;
		-o-transition: border-bottom-color 0.3s;
		-ms-transition: border-bottom-color 0.3s;
		-moz-transition: border-bottom-color 0.3s;
	transition: border-bottom-color 0.3s;
}

.contact-links a{
		-webkit-transition: background-color 0.3s;
		-o-transition: background-color 0.3s;
		-ms-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

#nav a{
	-webkit-transition: border-top-width 0.3s cubic-bezier(0.355, 1.850, 0.445, 0.940);
		-o-transition: border-top-width 0.3s cubic-bezier(0.355, 1.850, 0.445, 0.940);
		-ms-transition: border-top-width 0.3s cubic-bezier(0.355, 1.850, 0.445, 0.940);
		-moz-transition: border-top-width 0.3s cubic-bezier(0.355, 1.850, 0.445, 0.940);
	transition: border-top-width 0.3s cubic-bezier(0.355, 1.850, 0.445, 0.940);
}

#logo .logo-part, #logo #logo-dots{
		-webkit-transition: opacity 1.2s;
		-o-transition: opacity 1.2s;
		-ms-transition: opacity 1.2s;
		-moz-transition: opacity 1.2s;
	transition: opacity 1.2s;
}

 .sponsors .sponsor-logos a{
 		-webkit-transition: opacity 0.3s;
		-o-transition: opacity 0.3s;
		-ms-transition: opacity 0.3s;
		-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
 }
}
